<div class="messages">
    <div class="row form-group" ng-repeat="row in vm.messages">
        <div class="col-xs-3">{{row.userid | userNameFilter}}</div>
        <div class="col-xs-9">{{row.message}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <input type="text" ng-model="vm.message" class="form-control" placeholder="Message">
        </div>
        <div class="col-xs-3">
            <button class="btn btn-info" ng-disabled="!vm.message" ng-click="vm.saveMessage(vm.message)">Send Message</button>
        </div>
    </div>
</div>
