<div class="messages">
    <md-list>
        <md-item ng-repeat="item in vm.messages">
            <md-item-content>
                <div class="md-tile-left">
                    <img src="https://polymer-tut.appspot.com/images/avatar-01.svg" class="face" alt="{{vm.getUsername(item.author)}}">
                </div>
                <div class="md-tile-content">
                    <h4>{{vm.getUsername(item.author)}}</h4>
                    <div>{{item.message}}</div>
                </div>
            </md-item-content>
            <md-divider md-inset ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
    <section layout="row">
        <md-input-container flex>
          <label>Message</label>
          <input ng-model="vm.message" type="text">
        </md-input-container>
        <md-button class="md-fab md-primary" aria-label="Send Message" ng-disabled="!vm.message" ng-click="vm.saveMessage(vm.message)">
            <md-icon md-svg-icon="ic_check_circle_24px"></md-icon>
        </md-button>
    </section>
</div>
