<h1>Messages</h1>
<div class="messages" ng-controller="ChatCtrl as vm">
    <div class="row form-group" ng-repeat="row in vm.messages">
        <div class="col-xs-3">{{row.name}}</div>
        <div class="col-xs-9">{{row.text}}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" ng-model="vm.name" class="form-control" placeholder="Name">
        </div>
        <div class="col-xs-6">
            <input type="text" ng-model="vm.message" class="form-control" placeholder="Message">
        </div>
        <div class="col-xs-3">
            <button class="btn btn-info" ng-disabled="!vm.message" ng-click="vm.saveMessage(vm.name, vm.message)">Send Message</button>
        </div>
    </div>
</div>
